*{
    font-family: Arial;
}
.mapSize {
    float: left;
    height: 600px;
    margin: 0 1.5%;
    width: 60%;
    padding: 10px;
}

.right{

    margin: 0 1.5%;
    width: 30%;
    padding: 10px;
}
 nav > h1{
     text-align: center;

 }
aside{
    float: right;
    height: 450px;
    width:  500px;
    padding: 10px;

}
.listings{
    float: left;
    margin: 30px;
}

.container{

}

.list{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px  solid black;
}