*{
    font-family: Arial;
}
.map-container {
    width: 800px;
    height: 500px;
    margin: 10px;
}

.right{

    margin: 0 1.5%;
    width: 30%;
    padding: 10px;
}

aside{

    height: 450px;
    width:  500px;
    padding: 10px;

}
.listings{
    float: left;
    margin: 30px;
}

.container{

}

.list{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px  solid black;
}